<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>spring-petclinic-microservices application.&#xd;
&lt;br/&gt;&#xd;
Running end-to-end-tests.&#xd;
&lt;br/&gt;&#xd;
Checking for performance regressions with QRebel.&#xd;
&lt;br/&gt;&#xd;
&lt;br/&gt;&#xd;
&lt;a href=https://hub.qrebel.com/#/101109 &gt;QRebel Dasbhoard&lt;/a&gt;&lt;br/&gt;&#xd;
&lt;a href=https://xrebel-hub.atlassian.net/secure/RapidBoard.jspa?rapidView=1&amp;projectKey=PET &gt;JIRA Dasbhoard&lt;/a&gt;&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/sten711/spring-petclinic-microservices</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>baseline</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.envpropagator.EnvPropagatorBuilder plugin="build-env-propagator@1.0">
      <envVariableString>QREBEL_AUTH_TOKEN=YOUR_TOKEN_HERE:APP_VERSION=2.0.9:APP_BUILD=2.0.9RC7</envVariableString>
    </org.jenkinsci.plugins.envpropagator.EnvPropagatorBuilder>
    <hudson.tasks.Maven>
      <targets>clean install -PbuildDocker</targets>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <injectBuildVariables>false</injectBuildVariables>
    </hudson.tasks.Maven>
    <hudson.tasks.Shell>
      <command>docker-compose rm -f
docker-compose up --build -d
wait-for-it api-gateway:8080 -t 1000
wait-for-it customers-service:8081 -t 1000
wait-for-it vets-service:8083 -t 1000
wait-for-it visits-service:8082 -t 1000

</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Maven>
      <targets>clean verify -Pjenkins</targets>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <injectBuildVariables>false</injectBuildVariables>
    </hudson.tasks.Maven>
    <io.jenkins.plugins.qrebel.QRebelBuilder plugin="qrebel-jenkins@1.0-SNAPSHOT">
      <appName>spring-petclinic-api-gateway</appName>
      <targetBuild>2.0.9RC7</targetBuild>
      <baselineBuild>2.0.9RC5</baselineBuild>
      <apiKey></apiKey>
      <durationFail>0</durationFail>
      <ioFail>0</ioFail>
      <exceptionFail>0</exceptionFail>
      <threshold>200</threshold>
    </io.jenkins.plugins.qrebel.QRebelBuilder>
    <io.jenkins.plugins.qrebel.QRebelBuilder plugin="qrebel-jenkins@1.0-SNAPSHOT">
      <appName>spring-petclinic-config-server</appName>
      <targetBuild>2.0.9RC7</targetBuild>
      <baselineBuild>2.0.9RC5</baselineBuild>
      <apiKey></apiKey>
      <durationFail>0</durationFail>
      <ioFail>0</ioFail>
      <exceptionFail>0</exceptionFail>
      <threshold>200</threshold>
    </io.jenkins.plugins.qrebel.QRebelBuilder>
    <io.jenkins.plugins.qrebel.QRebelBuilder plugin="qrebel-jenkins@1.0-SNAPSHOT">
      <appName>spring-petclinic-customers-service</appName>
      <targetBuild>2.0.9RC7</targetBuild>
      <baselineBuild>2.0.9RC5</baselineBuild>
      <apiKey></apiKey>
      <durationFail>0</durationFail>
      <ioFail>0</ioFail>
      <exceptionFail>0</exceptionFail>
      <threshold>200</threshold>
    </io.jenkins.plugins.qrebel.QRebelBuilder>
    <io.jenkins.plugins.qrebel.QRebelBuilder plugin="qrebel-jenkins@1.0-SNAPSHOT">
      <appName>spring-petclinic-visits-service</appName>
      <targetBuild>2.0.9RC7</targetBuild>
      <baselineBuild>2.0.9RC5</baselineBuild>
      <apiKey></apiKey>
      <durationFail>0</durationFail>
      <ioFail>0</ioFail>
      <exceptionFail>0</exceptionFail>
      <threshold>200</threshold>
    </io.jenkins.plugins.qrebel.QRebelBuilder>
    <io.jenkins.plugins.qrebel.QRebelBuilder plugin="qrebel-jenkins@1.0-SNAPSHOT">
      <appName>spring-petclinic-vets-service</appName>
      <targetBuild>2.0.9RC7</targetBuild>
      <baselineBuild>2.0.9RC5</baselineBuild>
      <apiKey></apiKey>
      <durationFail>0</durationFail>
      <ioFail>0</ioFail>
      <exceptionFail>0</exceptionFail>
      <threshold>200</threshold>
    </io.jenkins.plugins.qrebel.QRebelBuilder>
    <io.jenkins.plugins.qrebel.QRebelBuilder plugin="qrebel-jenkins@1.0-SNAPSHOT">
      <appName>spring-petclinic-discovery-server</appName>
      <targetBuild>2.0.9RC7</targetBuild>
      <baselineBuild>2.0.9RC5</baselineBuild>
      <apiKey></apiKey>
      <durationFail>0</durationFail>
      <ioFail>0</ioFail>
      <exceptionFail>0</exceptionFail>
      <threshold>200</threshold>
    </io.jenkins.plugins.qrebel.QRebelBuilder>
  </builders>
  <publishers>
    <hudson.plugins.postbuildtask.PostbuildTask plugin="postbuild-task@1.8">
      <tasks>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText></logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>docker-compose down</script>
        </hudson.plugins.postbuildtask.TaskProperties>
      </tasks>
    </hudson.plugins.postbuildtask.PostbuildTask>
  </publishers>
  <buildWrappers/>
</project>